<!DOCTYPE html>
<html>
    <head>
        <title>Prediction</title>
        <link rel="stylesheet" href="/static/ss.css"/>
    </head>
  <center> <body>
        <form method="post" action="http://localhost:5000/y_predict" class="btn">
           <br><br><br><br><br><br><br><br><br> <h1>Detect The Fake Websites</h1>
            <input id="inpt"type='text' name='URL'placeholder="Enter the URL"/>
            <input type = "submit" id="btn" value="Submit" /> </center>
        </form>
    </body>
</html>